/* Utilities & Containers */
:root {
    --primary-red: #BD3A5A;
    --off-white: #F8FAFC;
    --secondary-blue: #005A8F;
    --tertiary-blue: #002439;
    --hover-red: #84283F; 
    --primary-text: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--off-white);
}

.inner-container {
    margin: 0 auto;
    max-width: 1310px;
    padding: 1rem;
}

.flex-container {
    display: flex;
}

/* Global Typography */
body {
    font-family: var(--primary-text);
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 1.125rem;
}

.banner .inner-container p {
    font-size: 2.25rem;
}

a {
    font-size: 1.25rem;
    text-decoration: none;
}

/* Header & Footer */
header {
    background-color: #ffff;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Main Content */
.banner {
    color: var(--off-white);
    background-color: var(--secondary-blue);
    padding: 5.0625rem;
}

.banner .inner-container {
    display: flex;
    align-items: center;
    gap: 2.125rem;
}

.banner a {
    font-size: 1.25rem;
    text-decoration: none;
    border: .0625rem solid var(--off-white);
    padding: .75rem 1rem .75rem 1rem;
}

.contents {
    display: flex;
    justify-content: space-around;
}

.contents section {
    background-color: #ffff;
}


